body{
    background-color: #D3C7C7;
}

.jumbotron {
    background-image: url("/assets/images/bg.png");
    color:white;
    text-align: center;
    height: 550px;
    padding-top: 60px;
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
}

.jumbotron h2 {
    font-size: 40px;
    margin-top: 20px;
}

.scrapeButton {
    color: #888888;
    border: none;
}

.btn,
.btn-primary,
.bg-primary,
.bg-primary
 {
    cursor: pointer;
    cursor: hand;
    color:black;
    background-color: lightgray;
    border:none;
}
a{
    color:black;
}
.bg-primary {
    background-color: lightgray;
}
